.catalog {
    &Item {
        display: flex;
        flex-direction: column;
        gap: 30px;
        & > img {
            width: 100%;
            height: 254px;
            object-fit: cover;
            @media (max-width: 1080px) {
                height: 473px;
            }
            @media (max-width: 810px) {
                height: 300px;
            }
            @media (max-width: 570px) {
                height: 200px;
            }
        }
        &Title {
            color: #c0b1a3;
            font-size: 35px;
            line-height: 40px;
            @media (max-width: 810px) {
                font-size: 28px;
            }
            @media (max-width: 570px) {
                font-size: 22px;
            }
        }
        &Images {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            @media (max-width: 1080px) {
                gap: 26px;
                justify-content: center;
            }
            @media (max-width: 810px) {
                gap: 10px;
            }
        }
        &Image {
            width: 48px;
            cursor: pointer;
            img {
                height: 47px;
                object-fit: cover;
                @media (max-width: 1080px) {
                    height: 150px;
                }
                @media (max-width: 810px) {
                    height: 60px;
                }
                @media (max-width: 570px) {
                    height: 40px;
                }
            }
            @media (max-width: 1080px) {
                width: 157px;
            }
            @media (max-width: 810px) {
                width: 60px;
            }
            @media (max-width: 570px) {
                width: 40px;
            }
        }
        &Flex {
            display: flex;
            justify-content: space-around;
        }
        &Btn {
            background-color: #ecebe9;
            text-transform: uppercase;
            color: #c0b1a3;
            font-size: 20px;
            padding: 0 30px;
            border-radius: 10px;
        }
    }
}
