.header {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: #e5e5e5;
    &Container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: 1080px) {
            gap: 136px;
            align-items: center;
        }
        @media (max-width: 900px) {
            gap: 20px;
        }
        @media (max-width: 570px) {
            flex-direction: column;
        }
    }
    &Flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    &Logo {
        @media (max-width: 1080px) {
            width: 268px;
        }
        @media (max-width: 810px) {
            width: 150px;
        }
    }
    &Nav {
        ul {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            li {
                a {
                    font-weight: 700;
                    color: #c0b1a3;
                    font-size: 38px;
                    @media (max-width: 810px) {
                        font-size: 28px;
                    }
                    @media (max-width: 570px) {
                        font-size: 22px;
                    }
                }
            }
            @media (max-width: 1080px) {
                display: grid;
                grid-template-columns: 1fr 2.5fr;
            }
            @media (max-width: 810px) {
                gap: 20px;
            }
        }
    }
    &SocialMedia {
        display: flex;
        gap: 22px;
        align-items: center;
        justify-content: flex-end;
        & > a {
            color: #c0b1a3;
            font-size: 38px;
            @media (max-width: 1080px) {
                order: -1;
            }
            @media (max-width: 810px) {
                font-size: 28px;
            }
            @media (max-width: 570px) {
                font-size: 22px;
            }
        }
        ul {
            display: flex;
            gap: 15px;
        }
        @media (max-width: 1080px) {
            justify-content: space-between;
            margin-top: 18px;
            margin-bottom: 30px;
        }
        @media (max-width: 570px) {
            flex-direction: column;
        }
    }
}
