.footer {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: #e5e5e5;
    &Logo {
        @media (max-width: 1080px) {
            width: 268px;
        }
        @media (max-width: 810px) {
            width: 150px;
        }
    }
    &Flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &Link {
        font-weight: 700;
        color: #c0b1a3;
        font-size: 38px;
        @media (max-width: 810px) {
            font-size: 28px;
        }
        @media (max-width: 570px) {
            font-size: 22px;
        }
    }
}
