.aboutUs {
    display: flex;
    flex-direction: column;
    gap: 100px;
    @media (max-width: 1280px) {
        gap: 50px;
    }
    @media (max-width: 810px) {
        gap: 40px;
    }
    @media (max-width: 570px) {
        gap: 30px;
    }
}
